<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqfour.bysj.mapper.EmploymentDepartmentMapper">
  <resultMap id="BaseResultMap" type="com.cqfour.bysj.bean.EmploymentDepartment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ZGH" jdbcType="CHAR" property="zgh" />
    <result column="DLZH" jdbcType="CHAR" property="dlzh" />
    <result column="RYMC" jdbcType="CHAR" property="rymc" />
    <result column="ZW" jdbcType="CHAR" property="zw" />
    <result column="SJ" jdbcType="CHAR" property="sj" />
    <result column="BJDH" jdbcType="CHAR" property="bjdh" />
  </resultMap>
</mapper>