<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqfour.bysj.mapper.EmployersMapper">
  <resultMap id="BaseResultMap" type="com.cqfour.bysj.bean.Employers">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="YRDWXXBBH" jdbcType="INTEGER" property="yrdwxxbbh" />
    <result column="DLZH" jdbcType="CHAR" property="dlzh" />
    <result column="DWMC" jdbcType="CHAR" property="dwmc" />
    <result column="DWXZ" jdbcType="CHAR" property="dwxz" />
    <result column="ZZJGDM" jdbcType="CHAR" property="zzjgdm" />
    <result column="SSHY" jdbcType="CHAR" property="sshy" />
    <result column="DWGM" jdbcType="CHAR" property="dwgm" />
    <result column="SZD" jdbcType="CHAR" property="szd" />
    <result column="DWLXR" jdbcType="CHAR" property="dwlxr" />
    <result column="LXRDH" jdbcType="CHAR" property="lxrdh" />
    <result column="DWLXDH" jdbcType="CHAR" property="dwlxdh" />
    <result column="DZYX" jdbcType="CHAR" property="dzyx" />
    <result column="YZBM" jdbcType="CHAR" property="yzbm" />
    <result column="DWJBQKJJ" jdbcType="LONGVARCHAR" property="dwjbqkjj" />
  </resultMap>

  <insert id="insertReturn" parameterType="com.cqfour.bysj.bean.Employers" useGeneratedKeys="true" >
  <selectKey resultType="int" order="AFTER" keyProperty="yrdwxxbbh">
    SELECT LAST_INSERT_ID()
  </selectKey>
    INSERT INTO t_yrdwb(DLZH,DWMC,DWXZ,ZZJGDM,SSHY,DWGM,SZD,DWLXR,LXRDH,DWLXDH,DZYX,YZBM,DWJBQKJJ ) VALUES(#{dzyx},#{dwmc},#{dwxz},#{zzjgdm},#{sshy},#{dwgm},#{szd},#{dwlxr},#{lxrdh},#{dwlxdh},#{dzyx},#{yzbm},#{dwjbqkjj})
  </insert>

  <select id="getEmployerName" resultType="String">
    SELECT DWMC FROM t_yrdwb WHERE DLZH=#{dlzh}
  </select>

  <select id="getEmployer"  resultMap="BaseResultMap">
    SELECT * FROM  t_yrdwb WHERE DLZH=#{dlzh};
  </select>

</mapper>