<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqfour.bysj.mapper.FacultyMapper">
  <resultMap id="BaseResultMap" type="com.cqfour.bysj.bean.Faculty">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="XYBH" jdbcType="INTEGER" property="xybh" />
    <result column="XYMC" jdbcType="VARCHAR" property="xymc" />
    <result column="XYLXR" jdbcType="CHAR" property="xylxr" />
    <result column="LXDH" jdbcType="CHAR" property="lxdh" />
    <result column="XYJJ" jdbcType="LONGVARCHAR" property="xyjj" />
  </resultMap>
</mapper>