<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqfour.bysj.mapper.RoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.cqfour.bysj.bean.RoleMenu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="jsglcdbbh" jdbcType="INTEGER" property="jsglcdbbh" />
    <result column="cdbh" jdbcType="INTEGER" property="cdbh" />
    <result column="jsbh" jdbcType="INTEGER" property="jsbh" />
  </resultMap>
</mapper>