<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqfour.bysj.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="com.cqfour.bysj.bean.Student">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="xh" jdbcType="CHAR" property="xh" />
    <result column="dlzh" jdbcType="CHAR" property="dlzh" />
    <result column="zybh" jdbcType="INTEGER" property="zybh" />
    <result column="bysjs" jdbcType="INTEGER" property="bysjs" />
    <result column="xszp" jdbcType="CHAR" property="xszp" />
    <result column="xsxm" jdbcType="CHAR" property="xsxm" />
    <result column="sfyjy" jdbcType="INTEGER" property="sfyjy" />
    <result column="jyfs" jdbcType="INTEGER" property="jyfs" />
    <result column="jysj" jdbcType="DATE" property="jysj" />
    <result column="sfsflq" jdbcType="SMALLINT" property="sfsflq" />
    <result column="sjhm" jdbcType="CHAR" property="sjhm" />
    <result column="xb" jdbcType="SMALLINT" property="xb" />
    <result column="csrq" jdbcType="DATE" property="csrq" />
    <result column="syd" jdbcType="CHAR" property="syd" />
    <result column="xl" jdbcType="SMALLINT" property="xl" />
    <result column="zzmm" jdbcType="CHAR" property="zzmm" />
    <result column="mz" jdbcType="CHAR" property="mz" />
    <result column="zypm" jdbcType="CHAR" property="zypm" />
    <result column="sg" jdbcType="CHAR" property="sg" />
    <result column="sftgyysj" jdbcType="SMALLINT" property="sftgyysj" />
    <result column="yysjcj" jdbcType="INTEGER" property="yysjcj" />
    <result column="sftgyylj" jdbcType="SMALLINT" property="sftgyylj" />
    <result column="yyljcj" jdbcType="INTEGER" property="yyljcj" />
    <result column="jsjsp" jdbcType="CHAR" property="jsjsp" />
    <result column="bkjdxx" jdbcType="CHAR" property="bkjdxx" />
    <result column="bkzy" jdbcType="CHAR" property="bkzy" />
    <result column="bkkssj" jdbcType="DATE" property="bkkssj" />
    <result column="bkbysj" jdbcType="DATE" property="bkbysj" />
    <result column="ssjdxx" jdbcType="CHAR" property="ssjdxx" />
    <result column="sszy" jdbcType="CHAR" property="sszy" />
    <result column="sskssj" jdbcType="DATE" property="sskssj" />
    <result column="ssbysj" jdbcType="DATE" property="ssbysj" />
    <result column="zwpj" jdbcType="CHAR" property="zwpj" />
    <result column="email" jdbcType="CHAR" property="email" />
    <result column="gxsj" jdbcType="TIMESTAMP" property="gxsj" />
    <result column="bz" jdbcType="CHAR" property="bz" />
    <result column="shsjjl" jdbcType="LONGVARCHAR" property="shsjjl" />
    <result column="hjqk" jdbcType="LONGVARCHAR" property="hjqk" />
    <result column="tcah" jdbcType="LONGVARCHAR" property="tcah" />
  </resultMap>
</mapper>